* {
    box-sizing: border-box;
    /* background-color: #191919; */
    /* color: white; */
  }

  html {
    font-size: 1.5em;
  }
  
  body {
    margin: 30px 20px;
    font-family: 'Prompt', sans-serif;
    background: #EBE7E7;
  }

  header {
    width: 100%;
    height: 50px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
  }

  h1 {
    font-size: 1.5rem;
    width: 50%;
  }

  #sub-heading {
    text-align: center;
    font-weight: 100;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .link {
    color: black;
  }

  .underline {
    text-decoration: underline;
  }

  .about-underline {
    text-decoration: underline;
  }

  nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
  }

 li {
    list-style: none;
    padding: 0;
 }

 footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    margin: 0;
}

footer p {
  margin: 0;
  text-align: center;
}

address {
    text-align: center;
    padding: 0.3em;
  }

  nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }

  
  .header {
    text-align: center;
    padding: 32px;
    background: #E0DDDD;
  }

  .fa-cloud-sun{
    color: black;
    width: 100%;
    height: 100%;
  }

  .dark-mode {
    background-color: #191919;
    color: white;
  }

  .dark-mode-text {
    color: white;
    text-shadow: 0 0 5px #000;
  }
  
  #gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin: 50px 300px;
    column-gap: 70px;
    row-gap: 70px;
  }
  
  #gallery img {
    width: 45%;
    height: 800px;
    object-fit: cover;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
  }

  #dark-mode {
    position: fixed;
    bottom: 10px;
    left: 20px;
    padding: 3px;
  }

  #footer-title {
    font-size: x-large;
  }

  #footer-title-start {
    font-weight: bold;
  }

  /* Media - changes values based on device sceen width */

  @media (max-width: 1600px) {
    #gallery {
      margin: 50px 50px;
      gap: 70px;
    }

    #gallery img {
      width: 45%;
      height: 700px;
    }
  }
  
  @media (max-width: 960px) {
    #gallery {
      margin: 0px 0px;
    }

    #gallery img {
      width: 80%;
      height: 800px;
    }

    footer {
      margin-top: 30px;
    }

    #dark-mode {
      left: 5px;
    }
    
  }

  @media (max-width: 700px) {

    #gallery img {
      width: 100%;
      height: 700px;
    }
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 1.5rem;
    }

    header {
        padding: 0 20px;
    }

    #gallery img {
      width: 100%;
      height: 700px;
    }
  }

    @media (max-width: 540px) {
      h1 {
        font-size: 1.5rem;
        width: 50%;
      }
      
      nav {
        height: 150px;
        width: 20%;
      }

      header {
        height: 150px;
      }
    
    }

    @media (max-width: 400px) {
      body {
        margin: 10px 20px;
      }
      
      header {
        height: 120px;
      }

      header h1, header nav {
        height: 100%;
      }
      
      #gallery img {
        width: 100%;
        height: 480px;
      }

      nav > ul {
        margin-right: 40px;
      }

      nav > ul > li {
        margin-top: 5px;
      }

      header > h1 {
        margin-left: 10px;
      }

      footer {
        font-size: 0.5rem;
      }
    }

    @media (max-width: 300px) {
      #gallery img {
        width: 100%;
        height: 350px;
      }
  }

    /* About me page */
#about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 350px;
    text-align: center;
}

.about-div {
    width: 50%;
    background-color: lightgray;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}

.about-div img {
  object-fit: cover;
  /* box-shadow: 0 0 20px 0 rgba(0,0,0,0.5); */
}

.about-div img, .about-text {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
}

.about-div ul {
    text-align: left;
    line-height: 60px;
}

.about-text {
  color: black;
}

#about-para {
  height: 100%;
  padding: 30px;
}

@media (max-width: 1500px) {
  #about {
    margin: 50px 250px;
  }
}

@media (max-width: 1200px) {
  #about {
    margin: 50px 150px;
  }
}

@media (max-width: 1065px) {
    #about {
      margin: 50px 120px;
  }
    
    .about-div {
      width: 100%;
      min-height: 500px;
      background-color: #EBE7E7;
  }
}

@media (max-width: 660px) {
    #about {
      margin: 50px 10px;
  }
    
    .about-div {
      width: 100%;
      min-height: 400px;
      background-color: #EBE7E7;
  }

  .about-text {
    font-size: 1.0rem;
}
}

@media (max-width: 430px) {
  #about {
    margin: 50px 0;
}
  
  .about-div {
    width: 100%;
    background-color: #EBE7E7;
}

.about-text {
  font-size: 0.8rem;
}
}